* {
  font-family: "Lao Sangam MN", Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  /* outline: 1px dotted; */
}

body {
  overflow-x: auto;
  width: 100vw;
}

/* Mailing list popup and animation */
.popcontainer > h1 {
  margin: 10px 0;
}

.popup {
  position: relative;
  /* top: 200px; */
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

.popup .popcontainer {
  background: #ffffff;
  padding: 30px;
  position: absolute;
  top: 80px;
  width: 100%;
  box-sizing: border-box;
}

.popup input {
  padding: 10px;
  border-radius: 10px 0 0 10px;
  font-size: 15px;
}

button {
  padding: 12px;
  border: 4px solid #707070;
  color: #ffffff;
  background: #707070;
  margin-left: -5px;
  border-radius: 0 10px 10px 0;
  border: 1px solid #ffffff;
  font-size: 18px;
}

.close {
  position: absolute;
  top: 9px;
  left: 9px;
  background-color: #707070;
  font-family: Verdana, sans-serif;
  color: #ffffff;
  font-weight: bold;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 20px;
}

button:focus {
  outline: 0;
}

.close > a {
  position: relative;
  text-decoration: none;
  text-align: center;
  top: -9px;
  left: -2.5px;
  color: #ffffff;
}

.popcontainer {
  animation: drop 3s ease-in forwards;
  z-index: 2;
}

@keyframes drop {
  0% {
    opacity: 0;
  }
  70% {
    transform: translateY(700px);
  }
  100% {
    transform: translateY(50px);
    opacity: 0.8;
  }
}

/* Nav Styles */

.navContainer {
  width: 100%;
  max-width: 960px;
  /* height: 105px; */

  /* border-color: #707070; */
  /* margin: 0; */
}
nav {
  background: #ffffff;
  display: flex;
  justify-content: space-between;
}
nav ul {
  list-style-type: none;
  padding: 0 10px;
  display: flex;
  justify-content: right;
}

nav a {
  background: #ffffff;
  text-decoration: none;
  color: #707070;
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 0.3px;
  text-decoration-color: #ffffff;
  /* text-decoration: underline; */
}

.homebutton {
  letter-spacing: 6px;
  /* text-align: left; */
  /* justify-content: flex-start; */
  max-width: 100px;
  /* bottom: 10px; */
  margin: 5px 0 0 15px;
  padding: 3px;
  color: #433e3e;
}

a > .homebutton {
  letter-spacing: 6px;
  /* text-align: left; */
  /* justify-content: flex-start; */
  max-width: 100px;
  /* bottom: 10px; */
  margin: 5px 0 0 15px;
  padding: 3px;
  font-size: 14px;
  color: #433e3e;
}

.bar1 {
  text-align: right;
  border: none;
  margin-left: 0;
  justify-content: flex-end;

  /* flex-basis: 100; */
  /* float: right; */
}

nav a:hover {
  text-decoration: underline solid #707070;
  text-decoration-color: ;
  /* font-size: 13px; */
}

/* Main Page Styles */

.herobox {
  display: flex;
  background-image: url(main-img/hero-lavender-array.jpg);

  height: 600px;
  background-size: 100%;
  background-position: 50% 50%;
  object-fit: cover;
  background-clip: content-box;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  background-image: url(main-img/purplepetals1.jpg);
  /* background-repeat: no-repeat; */
  width: auto;
  height: auto;
}

.innerbox {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  /* outline: 2px solid black; */
  color: #ffffff;
  height: 600px;
  /* padding-top: 150px; */

  /* outline: 2px solid black; */
}

.vince {
  /* display: flex; */
  /* flex-direction: column; */
  max-width: 100%;
}

.vince:hover {
  outline: 2px solid #ffffff;
}

.africansoap {
  /* position: relative; */
  background-image: url(main-img/african-soap.jpg);
  height: 600px;
  /* margin: 20px; */
  padding: 20px;
  background-position: 50% 50%;
  object-fit: cover;
  background-size: cover;
  background-position: auto;
}

.soapmaker {
  background-image: url(main-img/soapmaker.jpg);
  height: 600px;
  /* margin: 20px; */
  padding: 50px;
  background-size: 80%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  object-fit: cover;
}
.makerbox {
  height: 600px;
  color: #433e3e;
}

footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  font-size: 12px;
  outline: 1px solid #433e3e;
  padding: 20px 0 0 0;
}

footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 0 30px 0 0;
}

footer a {
  text-decoration: none;
  color: hsla(77, 12%, 11%, 0.781);
}

.social {
  flex-direction: row;
}

.icon {
  width: 30px;
  height: 30px;
}
.pedal:hover {
  text-decoration: underline;
}

/* Text Styles */

.herotext .miniherotext {
  display: inline-block;
}
.herotext {
  /* position: relative; */
  transform: translate(300px, 80px);
  color: #433e3e;
  font-weight: lighter;
  /* flex-direction: row; */
  height: 70px;
  width: 570px;
  font-size: 23px;
  /* top: 275px;
    left: 340px; */
}
/* DONT TOUCH THE HEROTEXT */

.miniherotext {
  /* position: relative; */
  transform: translate(0px, 130px);
  color: #433e3e;
  height: 30px;
  width: 300px;
  /* top: 350px;
    right: 100px; */
  font-size: 15px;
  /* text-shadow: 0.5px 0.5px rgb(41, 34, 34, 0.3); */
}

/* DONT TOUCH MINIHEROTEXT */

.collectionname {
  display: inline-block;
  position: relative;
  font-size: 23px;
  color: #ffffff;
  margin: 60px 0px 0px 50px;
}

.productname {
  flex-direction: row;
  font-size: 13px;
  bottom: -420px;
  left: -300px;
  text-align: center;
}

.description {
  display: block;
  position: relative;
  font-size: 13px;
  /* object-position: 50px 50px; */
  bottom: 70px;
  left: 50px;
  /* white-space: nowrap;  */
}

.productname .description {
  text-justify: distribute-all-lines;
  text-align: center;
  /* position: relative; */
}

.articletitle,
.articledescription {
  /* position: relative; */
  /* display: inline-block; */
  color: #433e3e;
}
.articletitle {
  font-weight: lighter;
  /* line-height: 150px; */
  font-size: 28px;
  margin: 40px 20px 70px 50px;
  width: 200px;
}

.articledescription {
  transform: translate(600px, 300px);
  width: 500px;
  font-size: 15px;
  text-align: center;
  font-weight: 900;
  /* overflow-wrap: inherit; */
}

.soapmakertitle {
  /* margin: -20px 400px -60px 40px; */
  padding: 10px 0 0 -60px;
  font-size: 20px;
}

.soapmakerdesc {
  position: relative;
  padding: 20px 80px 0px 350px;
  font-size: 14px;
  z-index: inherit;
}

.pedal {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
}

/*styles page */
.world {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-evenly;
  background-image: url(main-img/bubbleplanet.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  object-fit: cover;
  margin: 0 auto;
  height: 500px;
  width: 100%;
}

.worldtext {
  position: relative;
  text-transform: uppercase;
  text-justify: distribute-all-lines;
  text-align: center;
  font-size: 26px;
  color: #ffffff;
  margin-top: 40px;
  bottom: 120px;
  letter-spacing: 1.5px;
}

.worldtext1 {
  position: relative;
  text-transform: uppercase;
  text-justify: distribute-all-lines;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  bottom: 130px;
  letter-spacing: 1px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
}

.pic {
  position: initial;
  margin: 10px;
  padding: 2px;
  width: 250px;
  height: 250px;
}
.pic:hover {
  outline: 3px solid rgb(196, 63, 144, 0.3);
}
/* magnifying glass */

.search {
  width: 14px;
  height: 14px;
  margin: -1px;
  padding: 0;
}

.search:hover {
  border-bottom: 1px solid #433e3e;
}

/* mobile */

@media only screen and (max-width: 500px) {
  * {
    max-width: 500px;
    /* outline: 2px dotted; */
    margin: 0;
    font-size: 30px;
  }
  body {
    margin: 0 0;
    overflow-x;: hidden;
  }
  .popup, .popcontainer {
    margin: 0 0;
    padding: 0 0;
    width: auto;
    opacity: 1;
  }
  .navContainer {
  }
  .herobox {
    width: 100%;
    height: 400px;
    background-size: cover;
  }

  .box1,
  .box3 {
    height: 165.33px;
  }
  .africansoap {
    width: 100%;
    height: 400px;
    background-size: cover;
    text-justify: auto;
    display: flex;
    flex-flow: wrap;
    padding: 0 0;
  }
  .soapmaker {
    width: 100%;
    height: 400px;
    background-size: cover;
    padding: 0 0;
    text-align: center;
  }

  .makerbox {
    height: 200px;
  }

  footer {
    display: flex;
    flex-direction: column;
    flex-basis: content;
    justify-content: space-around;
    transform: translateX(80px);
    transform: translateY(300px);
    height: 20px;
    font-size: 30px;
    padding: 0 0;
    text-align: center;
  }

  footer ul {
    list-style-type: none;
    flex-direction: row wrap;
    margin: 0 0;
    padding: 0 0;
    font-size: 30px;
  }

  /* text styles */

  .herotext {
    margin: 0 0;
    padding: 0 0;
    margin-top: 70px;
    transform: translateX(120px);
  }
  
  .miniherotext {
    margin: 0 0;
    padding: 0 0;
    transform: translateX(-80px);
    transform: translateY(100px);
  }

  .box {
    height: 400px;
    margin: 0 0;
    padding: 0 0;
  }

  .collectionname {
    text-align: center;
    font-size: 20px;
    margin: 10px 0;
    padding: 0 0;
  }

  

  .articletitle {
    font-size: 30px;
    height: 31px;
    margin: 0 0;
    padding: 0 0;

  }

  .articledescription {
    margin: 0 0;
    padding: 0 0;
    font-size: 15px;
    text-align: center;
    width: 100%;
    height: 100px;
    transform: translateX(-140px);
    transform: translateY(150px);
    font-weight: 800;
    
  }
  .soapmakertitle {
    transform: translateY(20px);
    text-decoration: underline solid orange;
  }

  .soapmakerdesc {
    margin: 0 0;
    transform: translateX(-50px);
    transform: translateY(60px);
    padding: 0 0;
    
  }
  footer a {
    text-decoration: none;
    color: hsla(77, 12%, 11%, 0.781);
    font-size: 30px;
  }
  .pedal {
    font-size: 30px;
    margin: 0 0;
    padding: 20px 0 0 0;
  }
  .worldtext {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    margin: 40px 0 0 0;
    padding: 0 0;
    letter-spacing: 1.5px;
  }
  .worldtext1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    bottom: 170px;
    letter-spacing: 1px;
  }
  .pic19 {
    margin: 0 0 20px 0;
  }

  .social {
    justify-content: space-around;
    margin-top: 60px;
    margin-bottom: 80px;
    }

   .icon {
       width: 40px;
       height: 40px;
   }
    }
}
