* {
    font-family: "Lao Sangam MN", Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    /* outline: 1px solid; */
}
 
body {
    overflow-x: auto;
}

/* Mailing list popup and animation */
.popcontainer > h1 {
    margin: 10px 0;
}

p {
    margin-bottom: 40px;
}
.popup {
    position: relative;
    /* top: 200px; */
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.popup .popcontainer {
    background: #FFFFFF;
    padding: 30px;
    position: absolute;
    top: 100px;
    width: 100%;
    box-sizing: border-box;
}

.popup input {
    padding: 10px;
    border-radius: 10px 0 0 10px;
    font-size: 15px;
}

button {
    padding: 12px;
    border: 4px solid #707070;
    color: #ffffff;
    background: #707070;
    margin-left: -5px;
    border-radius: 0 10px 10px 0;
    border: 1px solid #ffffff;
    font-size: 18px;
}

.close {
    position: absolute;
    top: 9px;
    left: 9px;
    background-color: #707070;
    font-family: Verdana, sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 20px;
}

button:focus{
    outline: 0;
}
    
.close > a {
    position: relative;
    text-decoration: none;
    text-align: center;
    top: -9px;
    left: -2.5px;
    color: #FFFFFF;
}

.popcontainer {
    animation: drop 3s ease-in forwards;
    z-index: 2;

}


@keyframes drop {
    0% { opacity: 0}
    70% { transform: translateY(700px)};
    100% { transform: translateY(50px); opacity: 0.8;}
}

/* Nav Styles */

.navContainer {
    width: 100%;
    max-width: 960px;
    /* height: 105px; */
    
    /* border-color: #707070; */
    /* margin: 0; */
}
nav {
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    
}
nav ul {
    list-style-type: none;
    padding: 0 10px;
    display: flex;
    justify-content: right;
    }

nav a {
    background: #FFFFFF;
    text-decoration: none;
    color: #707070;
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 0.3px;
    text-decoration-color: #ffffff;
    text-decoration: underline;
}


.homebutton {
    letter-spacing: 6px;
    /* text-align: left; */
    /* justify-content: flex-start; */
    max-width: 100px;
    /* bottom: 10px; */
    margin: 5px 0 0 15px;
    padding: 3px;
    color: #433E3E;

    }

.bar1 {
    text-align: right;
    border: none;
    margin-left: 0;
    justify-content: flex-end;
    

    /* flex-basis: 100; */
    /* float: right; */
    }


nav a:hover {
    text-decoration-color: #707070;
    /* font-size: 13px; */
}

/* Main Page Styles */


.herobox {
    background-image: url(main-img/hero-lavender-array.jpg);
    margin: 0 auto;
    padding: 175px;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
}


    /* display: flex;
    flex-direction: column; */
.box {
    display: flex;
    flex-direction: column;
    background-color: hsla(77, 12%, 11%, 0.781);
    width: 100%;
    height: 600px;

}

.innerbox {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* outline: 2px solid black; */
    color: #FFFFFF;
    
    
    /* outline: 2px solid black; */

}

.vince {
    /* display: flex; */
    /* flex-direction: column; */
    max-width: 100%;
}

.vince:hover {
    outline: 2px solid #ffffff;
}


.africansoap {
    background-image: url(main-img/african-soap.jpg);
    height: 400px;
    /* margin: 20px; */
    padding: 80px;
    background-size: cover;
    background-position: center;
}

.soapmaker {
    background-image: url(main-img/soapmaker.jpg);
    height: 400px;
    /* margin: 20px; */
    padding: 100px;
    background-size: cover;
    background-position: center;
}
.makerbox {
    height: 500px;
    color: #433E3E;
}

footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    font-size: 12px;
    outline: 1px solid #433E3E;
    padding: 20px 0 0 0
    
}

footer ul  {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 0 30px 0 0;
}

footer a {
    text-decoration: none;
    color: hsla(77, 12%, 11%, 0.781);
}

.social {
    flex-direction: row;
}

.icon {
    width: 30px;
    height: 30px;
}
.pedal:hover {
    text-decoration: underline;
}

/* Text Styles */

.herotext {
    /* display: inline-block; */
    position: relative;
    color: #433E3E;
    font-weight: lighter; 
    /* line-height: 150px; */
    font-size: 23px;
    margin: initial;
    padding: 150px 0px 0 200px;
    /* text-shadow: 0.5px 0.5px rgb(41, 34, 34, 0.00005); */
    }

.minihero {
    position: relative;
    color: #433E3E;
    margin: initial;
    padding: 20px 0 0 200px;
    font-size: 15px;
    /* text-shadow: 0.5px 0.5px rgb(41, 34, 34, 0.3); */
}

.collectionname  {
    position: relative;
    font-size: 23px;
    margin: 40px 0px 90px 46px;
    color: #ffffff;
    z-index: 1;
}

.productname {
    flex-direction: row;
    font-size: 13px;
    bottom: -420px;
    left: -300px;
    text-align: center;
    
}

.description {
    display: block;
    position: relative;
    font-size: 13px;
    /* object-position: 50px 50px; */
    bottom: 70px;
    left: 50px;
    /* white-space: nowrap;  */
}

.productname .description {
    text-justify: distribute-all-lines;
    text-align: center;
    position: relative;
}
   

.articletitle {
        /* display: inline-block; */
        position: relative;
        color: #433E3E;
        font-weight: lighter; 
        /* line-height: 150px; */
        font-size: 28px;
        margin: -40px 20px 70px 50px;
}

.articledescription {
    color: #433E3E;
    margin: 250px 5px 0px 550px;
    font-size: 14px;
    text-align: center;
    text-justify: distribute-all-lines;
}

.soapmakertitle{
margin: -40px 400px 0px 15px;
padding: 10px 0 0 -60px;
font-size: 20px;
}

.soapmakerdesc {
    margin: 30px -40px 0px 250px;
    font-size: 14px;
}

.pedal {
    
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;

}

/*styles page */
.world {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
    background-image: url(main-img/bubbleplanet.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    object-fit: cover;
    margin: 0 auto;
    height: 500px;
    width: 100%;
    
}

.worldtext {
    position: relative;
    text-transform: uppercase;
    text-justify: distribute-all-lines;
    text-align: center;
    font-size: 26px;
    color: #ffffff;
    margin-top: 40px;
    bottom: 120px;
    letter-spacing: 1.5px;

}

.worldtext1 {
    position: relative;
    text-transform: uppercase;
    text-justify: distribute-all-lines;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    bottom: 130px;
    letter-spacing: 1px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
}

.pic {
    position: initial;
    margin: 10px;
    padding: 2px; 
    width: 250px;
    height: 250px;
}
.pic:hover {
    outline: 3px solid rgb(196, 63, 144, 0.3);
}
/* magnifying glass */

.search {
    
    width: 20px;
    height: 20px;
    margin: 2px 0 0 0;
}

.search:hover {
    border-bottom: 1px solid #433E3E;
}

/* mobile */
@media (max-width: 420px) {

    *{
        position: relative;
    }
    .popcontainer {
        visibility: hidden;
    }
    .navContainer {
        width: 100vh;
        height: 30px;
    }
    .herobox {
        background-size: contain;
        background-repeat: no-repeat;
    }
}